<header>
  <nav class="z-[10000]">
    <!-- VERSION MOBILE -->
    <div class="drawer text-base-100 text-primary z-[10000]">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div class="navbar py-0 w-full shadow-lg bg-primary text-base-100">
          <div class="flex-none lg:hidden">
            <label
              for="my-drawer-3"
              aria-label="open sidebar"
              class="btn btn-square btn-ghost"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-6 w-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="gap-2 px-2 font-bold text-xl">
            <a
              class="text-lg w-8 h-8 lg:w-9 lg:h-9 shadow-xl bg-white p-[3px] rounded-full"
              href="/"
            >
              <img
                alt="Velogrimpe.fr"
                src="/images/logo_no_bg.png"
                class="h-full object-cover w-auto"
              />
            </a>
            <span> Vélogrimpe.fr</span>
          </div>
          <div class="hidden lg:block flex-1">
            <ul
              class="menu menu-horizontal w-full flex-row justify-center text-lg"
            >
              <!-- Navbar menu content here -->
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100"
                  href="/"
                  >Carte</a
                >
              </li>
              <li class="dropdown dropdown-bottom">
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100"
                  tabindex="0"
                  role="button"
                  class="font-bold"
                >
                  Falaises proches de...
                </a>
                <ul
                  tabindex="0"
                  class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow-xl"
                >
                  <li>
                    <a class="text-primary" href="/tableau.php?ville_id=13"
                      >Annecy</a
                    >
                  </li>
                  <li>
                    <a class="text-primary" href="/tableau.php?ville_id=7"
                      >Chambéry</a
                    >
                  </li>
                  <li>
                    <a class="text-primary" href="/tableau.php?ville_id=11"
                      >Grenoble</a
                    >
                  </li>
                  <li>
                    <a class="text-primary" href="/tableau.php?ville_id=6"
                      >Lyon</a
                    >
                  </li>
                  <li>
                    <a class="text-primary" href="/tableau.php?ville_id=15"
                      >Marseille</a
                    >
                  </li>
                  <li>
                    <a class="text-primary" href="/tableau.php?ville_id=12"
                      >Valence</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100"
                  href="/logistique.php"
                  >Logistique</a
                >
              </li>
            </ul>
          </div>
          <div class="hidden lg:block">
            <ul class="menu menu-horizontal flex-row text-base text-base-100">
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/communaute.php"
                  >Communauté</a
                >
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/contribuer.php"
                  >Contribuer</a
                >
              </li>
              <li>
                <a
                  class="hover:text-base-100 text-base-100 focus:text-base-100 font-normal"
                  href="/infos.php"
                  >Plus d'infos</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="drawer-side z-[10000]">
        <label
          for="my-drawer-3"
          aria-label="close sidebar"
          class="drawer-overlay"
        ></label>
        <ul
          class="menu bg-base-200 h-[calc(100%-64px)] w-80 p-4 text-xl gap-4 mt-16 flex-nowrap overflow-scroll max-h-[calc(100vh-64px)]"
        >
          <!-- <div class="pl-14 h-12 flex flex-row gap-2 font-bold text-xl">
            <a
              class="text-lg w-8 h-8 lg:w-9 lg:h-9 shadow-xl border-2 border-white rounded-full"
              href="/"
            >
              <img
                alt="Velogrimpe.fr"
                src="/images/logo_no_bg.png"
                class="h-full object-fill w-auto"
              />
            </a>
            <span> Vélogrimpe.fr</span>
          </div> -->
          <!-- Sidebar content here -->
          <li><a href="/">Carte</a></li>
          <li>
            <details>
              <summary class="text-primary font-bold">
                Falaises proches de...
              </summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li>
                  <a href="/tableau.php?ville_id=13">Annecy</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=7">Chambéry</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=11">Grenoble</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=6">Lyon</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=15">Marseille</a>
                </li>
                <li>
                  <a href="/tableau.php?ville_id=12">Valence</a>
                </li>
              </ul>
            </details>
          </li>
          <li>
            <a href="/logistique.php">Logistique</a>
          </li>
          <li></li>
          <li>
            <a class="text-base-content" href="/communaute.php">Communauté</a>
          </li>
          <li>
            <a class="text-base-content" href="/contribuer.php">Contribuer</a>
          </li>
          <li>
            <a class="text-base-content" href="/infos.php">Plus d'infos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
